
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<span class="text-info"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"> </span> @Html.ActionLink("Game List", "GameList")</span>
<br />
<span class="text-info"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"> </span> @Html.ActionLink("New Games", "NewGameList")</span>
<br />
<span class="text-info"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"> </span> @Html.ActionLink("Members", "MemberList")</span>
<br />
<span class="text-info"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"> </span> @Html.ActionLink("New Members", "NewMemberList")</span>
<br />
<span class="text-info"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"> </span> @Html.ActionLink("Upcoming Events", "UpcomingEventList")</span>