@model IEnumerable<PROG3050.Models.Account>

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usergroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registered)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usergroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registered)
            </td>
        </tr>
    }

</table>
