@model IEnumerable<PROG3050.Models.Account>

@{
    ViewBag.Title = "Password Recovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="panel panel-success login-prompt">
        <div class="panel-heading">
            <h4>Password Recovery</h4>
        </div>
        <div class="panel-body">
            <p class="text-muted"><small>What's your account name?</small></p>
            @using (Html.BeginForm("try_Login", "Accounts"))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-9">
                    <p class="text-danger"><small>@ViewBag.UserMessage</small></p>
                    @Html.TextBox("Username", "", new { @class = "form-control", @placeholder = "Username" })
                    @Html.TextBox("Password", "", new { @type = "password", @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-success pull-right" type="submit">Log in</button>
                    <div class="clearfix"></div>
                    <button class="btn btn-default pull-right" type="button" onclick="location.href='@Url.Action("SignUp", "Accounts")'">Sign up</button>
                </div>
                <div class="clearfix"></div>
                <span class="base-link pull-right">@Html.ActionLink("Forgot Password?", "ForgotPassword")</span>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
