@model PROG3050.Models.Account
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Group = Html.DisplayFor(model => model.Usergroup).ToString().ToLower();

    ViewBag.Group = char.ToUpper(ViewBag.Group[0]) + ViewBag.Group.Substring(1);
}
<h2>@Html.DisplayFor(model => model.AccountName)</h2>
<b>@ViewBag.Group</b><br />
<i>Registered @Html.DisplayFor(model => model.Registered)</i>

@if ((Session["Permissions"] != null && (int)Session["Permissions"] >= 2) || ((string)Session["User"] == Model.AccountName))
{
<span class="base-link pull-right">@Html.ActionLink("Edit Profile", "Edit", new { id = Model.AccountName })</span><br />
<span class="base-link pull-right">@Html.ActionLink("Security Questions", "Index", "SecurityQuestions", new { id = Model.AccountName }, null)</span>
}

<hr />
<dl class="dl-horizontal">

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Country)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StateProvince)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StateProvince)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.City)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.City)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>

</dl>